* {
    --primary-color: #ffcd02;
    --secondary-color: #ddf4ff;
    --third-color: #000064;
}


* {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.App {
    text-align: center;
    flex-direction: column;
    max-height: 20vh;
}

.App-header {
    display: flex;
    width: 30vh;
}

.title-image {
    padding: 4vh;
    max-width: 100%;
    align-self: center;
}

#pikachu-image{
    width: 12vh;
}

#title-image{
    flex: 67%;
}

#cross{
    width: 3vh;
    padding-left: 1vh;
}


#congrats{
    color: limegreen;
    font-weight: bold;
    padding: 1em;
    background: lightgreen;
}
.guess-component{
    padding: 1em;
}
